.regex> div,
.regex > div > div > div,
.regex a,
.regex div div::before {
background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
}
.regex,
.regex * {
  box-sizing: border-box;
}
.regex {
  text-align: center;
}
.regex > div,
.regex > div > div > div {
  display: inline-block;
  margin-left: 25px;
}

.regex > div > div > div b {
  display: block;
  height: 100%;
  margin-right: 20px;
}
.regex a {
  display: block;
  background-clip: border-box;
  margin: 2px;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  transform: scale(0.8);
  transition: 0.3s;
}
.regex a:hover {
  transform: scale(1);
}
.miregex {
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  display: block;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  transition: 0.5s;
}
.miregex:hover {
  letter-spacing: 5px;
}
.imma{
	width:82px; 
	height:86px;
	opacity: 0.5;
}

.imma2{
	width:50px; 
	height:100px;
	opacity: 0.5;
}

.Nais{
	opacity: 0.5;
	margin-bottom: 80px;
	height: 250px;
}

