.MA0.white > div,
.MA0.white > div > div > div,
.MA0.white a,
.MA0.white div div::before {
background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
}
.MA0,
.MA0 * {
  box-sizing: border-box;
}
.MA0 {
  text-align: center;
}
.MA0 > div,
.MA0 > div > div > div {
  display: inline-block;
  margin-left: 25px;
}

.MA0 > div > div > div b {
  display: block;
  height: 100%;
  margin-right: 20px;
}
.MA0 a {
  display: block;
  background-clip: border-box;
  margin: 2px;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  transform: scale(0.8);
  transition: 0.3s;
}
.MA0 a:hover {
  transform: scale(1);
}
.miMA0 {
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  display: block;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  transition: 0.5s;
}
.miMA0:hover {
  letter-spacing: 5px;
}
.imma{
	width:82px; 
	height:86px;
	opacity: 0.5;
}

.imma2{
	width:50px; 
	height:100px;
	opacity: 0.5;
}

.Nais{
	opacity: 0.5;
	transform: scale(1.1);
}
